html {
  height: 100%;
}

.logo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: max-content;
  margin: auto;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #008dcd; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

img {
  object-fit: contain;
}

p {
  color: #008dcd;
  text-align: center;
  font-size: 20px;
  font-family: Sans-serif;
}

#no_ass {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: Sans-serif;
}


#challange {
  color: #008dcd;
  text-align: center;
  font-size: 20px;
  font-family: Sans-serif;
    bottom: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#MSG {
    width: 100%;
    padding: 0px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  font-family: Sans-serif;
    float: left;
    text-align: center;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#MSG1 {
    width: 100%;
    padding: 0px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  font-family: Sans-serif;
    float: left;
    text-align: center;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#MSG2 {
    width: 100%;
    padding: 0px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: Sans-serif;
    float: left;
    text-align: center;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#MSG3 {
    width: 100%;
    padding: 0px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: Sans-serif;
    float: left;
    text-align: center;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#MSG4 {
    width: 100%;
    padding: 0px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: Sans-serif;
    float: left;
    text-align: center;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

.libs {
    width: 100%;
    padding: 0px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: Sans-serif;
    float: left;
    text-align: center;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

a {
    width: 100%;
    padding: 0px;
  text-align: center;
  font-size: 20px;
  font-family: Sans-serif;
    float: left;
    text-align: center;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

.header {
  background-color: #008dcd;
  position: absolute;
  z-index: 500;
  height: 50px;
  width: 100%;
}

.home {
transform: translateY(50px);
  width: 100%;
  height: calc(100% - 50px);
  overflow: scroll;
  padding: 8px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

input {
  width: 100%;
  background: rgba(155, 155, 155, 0.5);
  color: white;
  padding: 5px;
  border-style: solid;
  border-color: TRANSPARENT;
  border-radius: 10px;
  font-size: 17px;
  font-family: Sans-serif;
  margin: 0px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

::placeholder {
  color: white;
}

.create {
  width: 58px;
  height: 58px;
  background-color: #008dcd;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  text-align: center;
  background-image: url("../Images/round_add_white_24dp.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;

  position: fixed;
  right: 16px;
  bottom: 75px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
    z-index: 1;
}

.goHome {
  width: 58px;
  height: 58px;
  background-color: #008dcd;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  text-align: center;
  background-image: url("../Images/round_home_white_24dp.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;

  position: fixed;
  right: 16px;
  bottom: 75px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
    z-index: 1;
}

.settings {
  width: 58px;
  height: 58px;
  background-color: #008dcd;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  text-align: center;
  background-image: url("../Images/61818b07d54ef50010e42587-1.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;

  position: fixed;
  right: 16px;
  bottom: 138px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

.reset {
  width: 58px;
  height: 58px;
  background-color: #008dcd;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  text-align: center;
  background-image: url("../Images/round_restart_alt_white_24dp.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;

  position: fixed;
  right: 16px;
  bottom: 138px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
    z-index: 1;
}

.menu {
  width: 58px;
    height: 58px;
  background-color: #008dcd;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  text-align: center;
  background-image: url("../Images/round_menu_white_24dp.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;

  position: fixed;
  right: 16px;
  bottom: 16px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
    z-index: 501;
}

.menuItems {
  width: 58px;
    height: 170px;
  background-color: #008dcd;
  border-radius: 800px;
  font-size: 50px;
  color: white;
  text-align: center;

  position: fixed;
  right: 16px;
  bottom: 16px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
    z-index: 500;
}

.projectsList {
  width: 100%;
  heigth: 80px;
  padding: 0px;
  background: rgba(155, 155, 155, 0.5);
  border-radius: 10px;
  margin-bottom: 8px;
}

.list-title {
  color: white;
  font-size: 20px;
  margin-bottom: 8px;
  font-family: Sans-serif;
  width: 100%;
  text-align: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

.list-des {
  color: white;
  font-size: 17px;
  margin-top: 0px;
  font-family: Sans-serif;
  width: 100%;
  text-align: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

.details {
  display: inline-block;
  vertical-align: middle;
  width: 248px;
}

.Details {
  display: inline-block;
  vertical-align: middle;
  width: 855px;
}

.photo {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
object-fit: cover;
margin-left: 8px;
}

.Photo {
  display: inline-block;
  vertical-align: middle;
}

button {
  background-color: #008dcd;
  width: 100%;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border-width: 0px;
  padding: 8px;
  margin-bottom: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

.Settings {
  width: 100%;
    height: calc(100% - 50px);
  overflow: scroll;
  transform: translateY(50px);
  padding: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#blocklyContainer {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  transform: translateY(50px);
    
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#blocklyDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#blocklyDiv2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.blocklySvg {
  background-color: TRANSPARENT !important;
}

@media only screen and (max-width: 600px) {
div#blocklyDiv .blocklyToolboxDiv {
        max-width: calc(100% - 18px);
    border-radius: 10px;
  background: rgba(155, 155, 155, 0.5);
  padding: 8px;
    margin: 8px;
    margin-right: 8px;
    
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}
}

@media only screen and (min-width: 600px) {
div#blocklyDiv .blocklyToolboxDiv {
    border-radius: 10px;
  background: rgba(155, 155, 155, 0.5);
  padding: 8px;
    margin: 8px;
    margin-right: 8px;
    
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
  max-height: calc(100% - 18px);
}
}

div#blocklyDiv .blocklyTreeRow {
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 8px;
  color: white;
}

        @media only screen and (max-width: 600px) {
            div#blocklyDiv .blocklyFlyout {
    border-radius: 10px;
  background: rgba(155, 155, 155, 0.5);
  padding: 0px;
    margin: 8px;
    margin-top: -16px;
    width: calc(100% - 18px);
    
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
  
}
        }    
        
        @media only screen and (min-width: 600px) {
                
div#blocklyDiv .blocklyFlyout {
    border-radius: 10px;
  background: rgba(155, 155, 155, 0.5);
  padding: 0px;
    margin: 8px;
    margin-left: 21px;
    height: calc(100% - 18px);
    
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}
        }
        
        @media only screen and (min-width: 600px) {
        .editor {
            background: rgb(238,238,238);
            width: 400px;
            position: absolute; 
            z-index: 400;
            right: 0px;
                
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
        }
        }
        
                @media only screen and (max-width: 600px) {
        .editor {
            background: rgb(238,238,238);
            width: 100%;
            position: absolute; 
            z-index: 400;
            right: 0px;
                
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
        }
        }

 @media only screen and (max-width: 600px) {
.welcome {
z-index: 810;
max-height: 92%;
      position: fixed;
  top: 50%;
  left: 50%;
  overflow:visible;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    background: rgba(155, 155, 155, 0.5);
    max-width: 92%;
    min-width: 350px;
    border-radius: 10px;
    padding: 8px;
    padding-bottom: 0px;
    position: fixed;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}
}

 @media only screen and (min-width: 600px) {
.welcome {
z-index: 810;
      position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    background: rgba(155, 155, 155, 0.5);
    width: 600px;
    border-radius: 10px;
    padding: 8px;
    padding-bottom: 0px;
    position: fixed;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}
}

#close {
    object-fit: contain;
    position: fixed;
    width: 30px;
    height: 30px;
    left: 0px;
    z-index: 5px;
    margin-left: 8px;
}

select{
    width: 100%;
    height: 100%;
    opacity: 0.0;
          -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#thunkable {
  object-fit: contain;
  position: fixed;
  right: -90px;
  bottom: 50%;
  animation: MoveUpDown 1s linear infinite, MoveRight 6s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom:40%;
    right: 100%;
  }
  50% {
    bottom: 550px;
    right: -90px;
  }
}

@keyframes MoveRight {
  0%, 100% {
    right: 100%;
  }
  50% {
  right: -90px;
  }
}

#dropdownMenu {
border-radius: 10px;
background-color: #008dcd;
position: fixed;
padding: 8px;
padding-bottom: 0px;
z-index: 900;
max-height: 85%; overflow: scroll; padding-bottom: 0px;
}

#dropdownMenu2 {
border-radius: 10px;
background-color: #008dcd;
position: fixed;
padding: 8px;
padding-bottom: 0px;
z-index: 900;
max-height: 85%; overflow: scroll; padding-bottom: 0px;
}

#CloseMenu {
width: 100%;
height: 100%;
display: none;
position: fixed;
z-index: 890;
}

.customIcon {
  color: white;
  margin-right: 8px;
  margin-left: 8px;
}

.closeD {
width:100%;
height:100%;
z-index:800;
display: none;
position: fixed;
max-height: calc(100vh - 210px);
    overflow-y: auto;
}

#pick {
z-index: 810;
  background-color: #008dcd;
  width: 100%;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border-width: 0px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#fullscreen {
  width: 35px;
  height: 35px;
  padding: 8px;
  position: fixed;
  background-image: url("../Images/outline_fullscreen_white_24dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 0px;
  top: 0px;
  margin: 8px;
   z-index: 410;
     background: rgba(155, 155, 155, 0.5);
  border-radius: 10px;
}

#adddd {
  width: 35px;
  height: 35px;
  padding: 8px;
  position: fixed;
  background-image: url("../Images/outline_fullscreen_white_24dp.png");
  background-repeat: no-repeat;
    background: rgba(155, 155, 155, 0.5);
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  right: 45px;
  top: 0px;
  margin: 8px;
   z-index: 410;
}

#Psettings {
  width: 35px;
  height: 35px;
  padding: 8px;
  position: fixed;
  background-image: url("../Images/outline_fullscreen_white_24dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
    background: rgba(155, 155, 155, 0.5);
  border-radius: 10px;
  right: 88px;
  top: 0px;
  margin: 8px;
   z-index: 410;
}

.PSettings{
  width: 25px;
  height: 25px;
  padding: 8px;
  position: fixed;
  object-fit: center;
  border-radius: 10px;
  right: 8px;
   z-index: 410;
}

::-webkit-scrollbar {
  width: 0px;
}


#siteSettings{
color: white;
background: rgba(155, 155, 155, 0.5);
font-size : 25px;
padding: 10px;
margin-bottom: 8px;
border-radius: 10px;
margin-top: 0px;
}

        @media only screen and (min-width: 600px) {
                
#e , #refrence, #siteSettingss  {
color: white;
background: rgba(155, 155, 155, 0.5);
font-size : 25px;
padding: 10px;
margin-bottom: 8px;
border-radius: 10px;
margin-top: 0px;
width: 15%;
text-align: left;
    
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}
}

        @media only screen and (max-width: 600px) {
                
#e , #refrence, #siteSettingss  {
color: white;
background: rgba(155, 155, 155, 0.5);
font-size : 25px;
padding: 10px;
margin-bottom: 8px;
border-radius: 10px;
margin-top: 0px;
width: 100%;
text-align: left;
    
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}
}

#text {
color: white;
padding: 6px;
margin-bottom: 8px;
border-radius: 10px;
margin-top: 0px;
width: calc(100% - 73px)
}

#bgimage, #theme, #smos, #vsStyle, #open, #grid,#snap,#dis {
  background-color: #008dcd;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border-width: 0px;
  padding: 8px;
  margin-bottom: 0px;
  width: 55px;
  position: relative;
  left: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#text2 {
color: white;
padding: 6px;
margin-bottom: 8px;
border-radius: 10px;
margin-top: 0px;
width: calc(100% - 90px)
}

#share {
  background-color: #008dcd;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border-width: 0px;
  padding: 8px;
  margin-bottom: 0px;
  width: 70px;
  position: relative;
  left: 8px;
  right: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#text3 {
color: white;
padding: 6px;
margin-bottom: 8px;
border-radius: 10px;
margin-top: 0px;
width: calc(100% - 152px)
}

#text4 {
color: white;
padding: 6px;
margin-bottom: 8px;
border-radius: 10px;
margin-top: 0px;
width: calc(100% - 212px)
}

#credits, #twitter, #yt {
  background-color: #008dcd;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border-width: 0px;
  padding: 8px;
  margin-bottom: 0px;
  width: 132px;
  position: relative;
  left: 8px;
  right: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#docss {
  background-color: #008dcd;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border-width: 0px;
  padding: 8px;
  margin-bottom: 0px;
  width: 192px;
  position: relative;
  left: 8px;
  right: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

    .column {
        float: left;
    }
    
    @media only screen and (min-width: 600px) {
    
    .columnBGI {
            float: left;
    }
    
        #BGImage, #BGImageURL {
  background-color: #008dcd;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border-width: 0px;
  padding: 8px;
  margin-bottom: 0px;
  width: 49%;
  position: relative;
  left: 8px;
  right: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#BGImageURL {
margin-left: 8px;
}

    }
    
    @media only screen and (max-width: 600px) {
        .columnBGI {
    }
    
        #BGImage, #BGImageURL {
  background-color: #008dcd;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border-width: 0px;
  padding: 8px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: calc(100% - 16px);
  position: relative;
  left: 8px;
  right: 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}

#BGImageURL {
margin-top: 8px;
}

    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }

.wrapper {
padding: 0px;
width: 100%;
margin-bottom: 8px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  box-sizing: border-box;
}